@tailwind base;
@tailwind components;
@tailwind utilities;

/* Suas customizações existentes (se tiver) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}